<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531919337838-v2kk5kdgl4dpc5d5phu24u5f7alv86cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531919337838-v2kk5kdgl4dpc5d5phu24u5f7alv86cm</string>
	<key>API_KEY</key>
	<string>AIzaSyDhb_lvToUS42cwkiGmfezY1g3LZSixRM4</string>
	<key>GCM_SENDER_ID</key>
	<string>531919337838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.avagogo</string>
	<key>PROJECT_ID</key>
	<string>ava-gogo-f9a11</string>
	<key>STORAGE_BUCKET</key>
	<string>ava-gogo-f9a11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531919337838:ios:2947fbc592ee3e2bb0697f</string>
</dict>
</plist>